Decrypt Session Key only

This might be interesting new feature for very large file decryption....

would it be possible to pass INTO the vault encrypted session key only (can be manually pulled from the encrypred file using for example `head` ) and decrypt only the session-key? 

This would be really interesting in cases where the files are really large, in theory you really need to decrypt only the session key using private key kept in vault and then override the session key when calling gpg locally like `gpg -d -o myverylargefile --override-session-key XXXXX`

this way you can decrypt very large files locally but still keep the private key in the vault only

Hi,

Thanks for the suggestion!
I took a first look and it seems perfectly doable.

This would probably takes the form of a new endpoint allowing the decryption of a raw public-key 
encrypted session key packet ([RFC4880 section 5.1](https://tools.ietf.org/html/rfc4880#section-5.1)).

I going to try to implement it in the next couple of weeks but if someone wants to propose a PR, please help yourself ;) .

Implemented in #6.

You can now extract the session packet from your message and pass it to the new endpoint to get the decrypted session key.